/*Header*/

.header {
    background-color: mediumblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/* .table {
    background-color: mediumblue;
    color: white;
    margin-bottom: 2px;
} */

.facebook {
    width: 18px;
    cursor: pointer;
}

.icon {
    width: 18px;
    cursor: pointer;
}

#button {
    padding-left: 2px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.logo {
    background-color: whitesmoke;
    display: inline;
}
/* nav bar */
.nav li a:hover {
    background-color: #4077E5;
    color: white;
    border-radius: 25px;
}

.nav li a {
    display: block;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
}

.active {
    background-color: #4077E5;
    color: white;
    border-radius: 25px;
}
.dropdown-menu a:hover{
    background-color: #4077e5;
}
#collapsibleNavbar{
    margin-left: 200px;
}
.navbar-header{
    margin-left: 18px;
}
/* marquee */
.marquee {
    background-color: royalblue;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
@media only screen and (max-width: 600px;){
    .marquee {
        float: left;
        margin-left: 5%;
        padding-left: 5%;
        margin-right: 5%;
        
    }
}

/*Introduction*/

.Intro {
    background-color: whitesmoke;
}

center.paragraph {
    text-align: justify;
    line-height: 2.0;
    color: gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

h1 {
    font-size: 38px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 50px;
}

.logo {
    padding-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .marquee {
        width: 1200px;
    }
}

/*middle part*/

div.content {
    background-color: royalblue;
    display: flex;
    flex direction: row;
    flex-wrap: wrap;
}

div.food {
    padding-left: 2%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: royalblue;
    color: white;
    height: 200px;
    width: 300px;
}

img.food {
    position: relative;
    top: 50px;
    left: 100px;
}

img.family {
    position: relative;
    top: 50px;
    left: 100px;
}

img.medical {
    position: relative;
    top: 50px;
    left: 100px;
}

img.education {
    position: relative;
    top: 50px;
    left: 100px;
}

p.amount {
    margin: 50px 30px 10px 60px;
    font-size: 35px;
}

/*what we are doing*/

.img {
    padding-bottom: 30px;
}

.container {
    margin-left: 5%;
}

div.boxes {
    width: 300px;
    font-size: large;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px 5px gainsboro;
    -webkit-box-shadow: 5px 5px 5px 5px gainsboro;
    float: left;
    display: inline-block;
    border: 5px solid white;
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 0%;
    margin-left: 2%;
    margin-top: 3%;
    text-align: center;
    border-style: groove groove;
    border-color: white;
    border-width: thin;
}

/* mission and up coming projects */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background: white;
}

.space {
    margin-right: 20px;
}

.white-box2 {
    width: 300px;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    background: gainsboro;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.mission:before {
    font-weight: 400;
    display: inline-block;
    margin-right: 5px;
}

.mission {
    margin-top: -24px;
    margin-left: -15px;
}

.mission h4 {
    margin-left: 15px;
}

.projhead {
    margin-left: 10px;
    color: #4077E5;
    margin-top: 20px;
}
.upcoming{
    margin-top: 40px;
}
.second{
    margin-left: 50px;
}

#heading {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 18px;
    border-style: inset;
    border-width: 1px;
    width: 10%;
    border-color: green;
}

.upcoming {
    text-align: left;
}

/*image gallery*/

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 8%;
}

.gallery {
    margin: 5px 0px 0px 5px;
}

/* .rashan {
    margin-left: 110px;
    margin-top: 5px;
} */

/*useful link and footer*/

.headoffice {
    background-color: black;
    height: 250px;
    width: 360px;
    padding-left: 5%;
    margin-top: 80px;
    margin-bottom: 150px;
    padding-top: 50px;
    color: whitesmoke;
}

.facebook {
    padding: 4px;
    width: 40px;
}

.icon {
    padding: 4px;
    width: 40px;
}

.heading {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2px;
    border-style: inset;
    border-width: 1px;
    width: 50%;
    border-color: green;
}

.big-box {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
}

.copywrite {
    background-color: royalblue;
    height: 50px;
    width: 500px;
    padding-left: 7%;
    color: whitesmoke;
    padding-top: 5px;
}

.copy {
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    position: fixed;
    bottom: 10px;
    right: 20px;
}